/*
<form class="Form SearchPage Search<Name>">
	SearchPageHeader        # optional
		SearchPageHeader-title
		SearchPageHeader-actions
	SearchPageBody      # optinal
    <table class="Form-rowList">
  SearchPageFooter
    SearchPageFooter-resultCount
    SearchPageFooter-actions
 */
.SearchPage {
  padding: var(--global-space-default);
  display: flex;
  flex-direction: column;
  gap: var(--global-space-default);
}

/* SearchPageHeader */
.SearchPageHeader {
  display: flex;
  font-size: var(--global-fontSize-lg);
}
.SearchPageHeader-actions {
  margin-left: auto;
}

/* SearchPageFooter */
.SearchPageFooter {
  display: flex;
}
.SearchPageFooter-actions {
  margin-left: auto;
  display: inline-flex;
  gap: var(--global-space-sm);
}

.SearchPage :is(.is-tagFilter, .is-editionInfo, .is-language, .is-region, .is-subtitle) .Form-inputs > Input {
  flex: 1;
}

/* SearchForum */
.SearchForum-forumList .Form-row {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .SearchForum-forumList .Form-row {
    display: flex;
  }
}
