.vs/
.vscode/
.idea/
.vagrant/
.well-known/
logs/
old/
phpMyAdmin/
vendor/
static/similar/
mix-manifest.json
config.local.php
archive.tgz
.metals/
adminer.php
adminer.css
*.swp
node_modules
.docker/data
.DS_Store
public/js
public/css
public/app
public/image
public/manifest.json
package-lock.json
.cache
yarn-error.log
.env
