/*
BoxBody          // box without header
Box              // box with header
  Box-header 
  Box-body
*/

.BoxBody {
  background: var(--Box-background);
  color: var(--Box-color);
  border: var(--Box-border);
  border-radius: var(--global-borderRadius);
  padding: var(--global-space-default);
  word-break: break-word;
  word-wrap: break-word;
}

.Box {
  background: var(--Box-background);
  color: var(--Box-color);
  border: var(--Box-border);
  border-radius: var(--global-borderRadius);
}

.Box-header {
  background: var(--Box-header-background);
  color: var(--Box-header-color);
  border-bottom: var(--Box-border);
  border-top-left-radius: var(--global-borderRadius);
  border-top-right-radius: var(--global-borderRadius);
  padding: 5px 10px !important;
}

.Box-body {
  padding: var(--global-space-default);
  word-break: break-word;
  word-wrap: break-word;
}
