/*
BoxBody          // box without header
Box              // box with header
  Box-header 
  Box-body
*/

.BoxBody:not(.is-noBorder) {
  background: var(--Box-background);
  border: var(--Box-border);
  border-radius: var(--global-borderRadius);
}

.BoxBody {
  color: var(--Box-color);
  padding: var(--global-space-default);
  word-break: break-word;
  word-wrap: break-word;
}

.Box {
  color: var(--Box-color);
}

.BoxList {
  display: flex;
  gap: var(--global-space-default);
  flex-direction: column;
  padding-top: var(--global-space-default);
  padding-bottom: var(--global-space-default);
}

.Box:not(.is-noBorder) {
  background: var(--Box-background);
  border: var(--Box-border);
  border-radius: var(--global-borderRadius);
}

.Box:is(.is-noBorder) .Box-headerTitle {
  font-size: var(--global-fontSize-lg);
  font-weight: bold;
}

.Box:not(.is-noBorder) .Box-header {
  background: var(--Box-header-background);
}

.Box-header {
  color: var(--Box-header-color);
  border-bottom: var(--Box-border);
  border-top-left-radius: var(--global-borderRadius);
  border-top-right-radius: var(--global-borderRadius);
  padding: var(--global-space-sm);
  display: flex;
}

.Box-headerActions {
  margin-left: auto;
}

.Box-body {
  padding: var(--global-space-sm);
  word-break: break-word;
  word-wrap: break-word;
}
