/*
Header - Profile

DropdownMenu is-open
	DropdownMenu-trigger
	DropdownMenu-items
		DropdownMenu-item
*/

.DropdownMenu {
  position: relative;
}

.DropdownMenu-trigger {
  cursor: pointer;
}

.DropdownMenu-items {
  position: absolute;
  background: var(--DropdownMenu-items-background);
  border: var(--DropdownMenu-items-border);
  border-radius: 6px;
  box-shadow: rgba(140, 149, 159, 0.2) 0px 8px 24px 0px;
  width: 119px;
  z-index: 100;
  right: 0;
  list-style: none;
  top: 40px;
}

.DropdownMenu:not(.is-open) .DropdownMenu-items {
  display: none;
}

.DropdownMenu-item {
  display: block;
  cursor: pointer;
  overflow: hidden;
  padding: 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DropdownMenu-item:hover {
  background: var(--DropdownMenu-item-onHover-background);
}
