.Group {
}

.Group-header {
  padding-bottom: var(--global-space-default);
  display: flex;
}
.Group-headerTitle {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--global-color-placeholder);
}

.Group-headerActions {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  gap: var(--global-space-sm);
}

.Group-body {
  display: flex;
  gap: var(--global-space-default);
  flex-direction: column;
}

.Group-body-row {
  display: flex;
  flex-direction: row;
  gap: var(--global-space-default);
}

.Group-body-row .Group-column {
  flex: auto;
}
