/* also see PageWiki.css */

/*
HtmlText mdx
  HtmlText-anchor
*/

.HtmlText[mdx] {
  padding: 10px 10px;
}

/* Check Upload Rules page */
.HtmlText :is(h1, h2, h3, h4, h5, h6) {
  font-size: 1em;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}
.HtmlText h1 {
  font-size: 2em;
  font-weight: bold;
  border-bottom: var(--Box-border);
  padding-bottom: 0.3em;
}
.HtmlText h2 {
  font-size: 1.6em;
  font-weight: bold;
  border-bottom: var(--Box-border);
  padding-bottom: 0.3em;
}
.HtmlText h3 {
  font-size: 1.25em;
  font-size: var(--global-fontSize-lg);
  font-weight: bold;
}

.HtmlText :is(ol, ul) {
  padding-left: 20px;
}
.HtmlText ul {
  list-style-type: disc;
}

.HtmlText ol {
  list-style-type: decimal;
}

.HtmlText li {
  padding: 0;
}

/* fix rule_summary */
.HtmlText.rule_summary > ul {
  padding-left: 0px;
}
.HtmlText.rule_summary li {
  padding: var(--global-space-sm) 0;
}

.HtmlText-anchor {
  padding-right: 4px;
  margin-left: -20px;
  color: inherit;
}
.HtmlText-anchor:hover {
  color: inherit;
}
.HtmlText-anchorIcon {
  width: 16px;
  height: 16px;
  visibility: hidden;
}
.HtmlText :is(h1, h2, h3, h4, h5, h6):hover .HtmlText-anchorIcon {
  visibility: visible;
}
