ul.List li {
  margin-left: 15px;
  list-style-type: disc;
}
ol.List li {
  margin-left: 15px;
  list-style-type: decimal;
}
.MenuList .SubMenu li {
  margin-left: 15px;
  position: relative;
  padding-left: 5px;
  padding-right: 0px;
}

.MenuList .SubMenu {
  padding-top: 5px;
}
.MenuList li::before {
  content: ' ';
  position: absolute;
  width: 2px;
  background-color: var(--global-color-border);
  top: 0px;
  bottom: -14px;
  left: -10px;
}
.MenuList li:is(:last-child) {
  padding-bottom: 0px;
}

.MenuList li:not(:first-child):last-child::before {
  display: none;
}
.MenuList .SubMenu li:only-child::before {
  display: list-item;
  content: ' ';
  position: absolute;
  width: 2px;
  background-color: var(--global-color-border);
  top: 0px;
  bottom: 7px;
  height: 14px;
  left: -10px;
}

.MenuList li:only-child::before {
  height: 0px;
}
.MenuList .SubMenu li::after {
  content: ' ';
  position: absolute;
  left: -10px;
  width: 10px;
  height: 2px;
  background-color: var(--global-color-border);
  top: 14px;
}
