.MenuList {
  list-style: none;
}

.MenuList.SubMenu {
  position: relative;
  margin-left: 20px;
  padding-top: 5px;
}

.MenuList li {
  position: relative;
  padding: 5px;
}

.MenuList.SubMenu li::before {
  content: '';
  height: 100%;
  width: 12px;
  border-bottom: 2px solid var(--global-color-border);
  border-left: 2px solid var(--global-color-border);
  position: absolute;
  bottom: 12px;
  left: -10px;
}

.MenuList.SubMenu li:first-child::before {
  height: 70%;
}
