/*
<progress class="Progress" value="0.1"></progress>
*/

.Progress {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: auto;
}

.Progress::-webkit-progress-bar {
  background: var(--Progress-bar-background);
  border-radius: 10px;
}

.Progress::-webkit-progress-value {
  background: var(--Progress-value-background);
  border-radius: 10px;
}
