/*
Where
  user - recent uploads
  collage - show
  artist - show
  bookmarks - show

TorrentCover variant="OneLine | FiveGrid"
  TorrentCover-item
    TorrentCover-imageContainer
        TorrentCover-image
*/

.TorrentCover {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-content: center;
  column-gap: var(--global-space-lg);
  row-gap: var(--global-space-default);
}
.TorrentCover[variant='FiveGrid'] {
  width: 880px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .TorrentCover[variant='OneLine'] {
    column-gap: var(--global-space-default);
    font-size: var(--global-fontSize-sm);
  }
}
.TorrentCover[variant='OneLine'] {
  display: flex;
  overflow: auto;
  justify-content: start;
}
@media (max-width: 768px) {
  .PageUserShow .TorrentCover {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
  }
}

.TorrentCover-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-all;
}

.TorrentCover-imageContainer {
  width: 160px;
  height: 240px;
}
@media (max-width: 768px) {
  .TorrentCover[variant='OneLine'] .TorrentCover-imageContainer {
    width: 75px;
    height: 111px;
  }
}

.TorrentCover-image {
  height: 100%;
  border-radius: var(--global-borderRadius);
}

.TorrentCover-item b {
  color: var(--TableTorrent-movieInfoTitle-color);
  padding-top: var(--global-space-sm);
}
