#user #thumb .icon {
  color: #da7171;
}

#user #ratio_watch .Group-body {
  color: var(--global-color-warning);
}

.donor_icon {
  width: 16px;
  height: 16px;
}

.warned-flag .icon,
.disabled_flag .icon {
  color: #c83f3f;
  width: 16px;
  height: 16px;
}
.half-warned-flag .icon {
  color: #ffbf00;
  width: 16px;
  height: 16px;
}
table .warned-flag,
table .half-warned-flag,
table .disabled_flag {
  transform: scale(0.8, 0.8);
  bottom: 0;
}

/* User Settings */
.StyleGallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--global-space-default);
}
.StyleGallery-imageLink {
  display: block;
}
.StyleGallery-image {
  height: 100px;
  min-height: 100px;
  width: 200px;
  min-width: 200px;
  object-fit: cover;
  object-position: top;
}

.UserModForm-rowHeader {
}

.RssTitle {
  display: flex;
  gap: 3px;
}

.RssTitle .rss.icon {
  width: 20px;
  height: 20px;
}

.RssTitle .rss.icon {
  color: #ffa500;
}
