@media (min-width: 768px) {
  .SidebarItemUserSettings.fixed {
    position: fixed;
    top: 6px;
    width: 280px;
  }
}

@media (max-width: 768px) {
  .PageUserEdit .LayoutMainSidebar-sidebar {
    gap: 0;
    order: 1;
    max-width: 250px;
    grid-column: 1/2;
    margin-bottom: var(--global-space-default);
    grid-template-rows: auto;
    grid-template-columns: 100%;
  }
}
