/*
HeaderProfile
	HeaderProfile-avatar
	HeaderProfile-nameLink
	HeaderProfile-menuExtendIcon
*/

.HeaderProfile {
  width: auto;
  gap: var(--global-space-default);
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.HeaderProfile-avatar {
  width: 24px;
  height: 24px;
  border-radius: var(--global-borderRadius);
}

@media (max-width: 768px) {
  .HeaderProfile-nameLink {
    display: none;
  }
}

.HeaderProfile-menuExtendIcon {
  width: 16px;
  height: 16px;
}
