/* 
TorrentTitle TorrentTitle--standalone   # settings - torrent title
  TorrentTitle-item
*/

.TorrentTitle {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre-wrap;
  column-gap: 5px;
  line-height: 1.2;
}
.TableTorrent.is-alternative .TorrentTitle {
  font-family: var(--global-fontFamilyMonospace);
}

/* item */
.TorrentTitle-item.torrent_discount {
  color: #fff;
  padding: 0 3.5px;
  border-radius: var(--global-borderRadius);
  font-weight: 400 !important;
  font-size: 13px;
  display: inline-block;
  transform: scale(0.85, 0.72) translateY(2px);
}
.TorrentTitle-item.torrent_discount.free {
  background-color: #0055ff;
}
.TorrentTitle-item.torrent_discount.three_fourth_off {
  background-color: #622ca8;
}
.TorrentTitle-item.torrent_discount.two_fourth_off {
  background-color: #8d4b44;
}
.TorrentTitle-item.torrent_discount.one_fourth_off {
  background-color: #3e6e7b;
}
.TorrentTitle-item.torrent_discount.neutral {
  background-color: #55666f;
}
.TorrentTitle-item.tl_notice {
  font-weight: bold;
}
.TorrentTitle-item.tl_reported {
  color: #d39911;
}
.TorrentTitle-item.tl_trumpable {
  color: #d46d3d;
}
.TorrentTitle-item.tl_snatched {
  color: #00bc8c;
}
.TorrentTitle-item.tl_free {
  font-weight: bold;
}

/* standalone */
.Form-row.is-torrentTitle {
  font-size: var(--TableTorrent-fontSize);
}
.TorrentTitle--standalone {
  font-size: var(--TableTorrent-fontSize);
  color: var(--Link-color);
}
