/* 
TorrentTitle TorrentTitle--standalone   # settings - torrent title
  TorrentTitle-item
*/

.TorrentTitle {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre-wrap;
  column-gap: 5px;
  line-height: 1.2;
}
.TableTorrent.is-alternative .TorrentTitle {
  font-family: var(--global-fontFamilyMonospace);
}

/* item */
.TorrentTitle-item.bg {
  background-color: #0055ff;
  color: #fff;
  padding: 1px 3.5px;
  display: inline-block;
  font-size: 0.8em;
  border-radius: 3px;
}
.TorrentTitle-item.bg:is(.tl_buy, .tl_diy) {
  background-color: #d46d3d;
}
.TorrentTitle-item.tl_notice {
  font-weight: bold;
}
.TorrentTitle-item.tl_reported {
  color: #d39911;
}
.TorrentTitle-item.tl_trumpable {
  color: #d46d3d;
}
.TorrentTitle-item.tl_snatched {
  color: #00bc8c;
}

/* standalone */
.Form-row.is-torrentTitle {
  font-size: var(--TableTorrent-fontSize);
}
.TorrentTitle--standalone {
  font-size: var(--TableTorrent-fontSize);
  color: var(--Link-color);
}
