.lightbox {
  position: fixed;
  text-align: center;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  padding: 0px;
  z-index: 1002;
  overflow: auto;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox__shroud {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
}

body.lightbox__scroll-lock {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#lightbox > img {
  max-width: unset;
  max-height: unset;
}
