/*
Snackbar.jsx
Snackbar.open(message)
Snackbar.notify(message)  // auto close after 2 seconds or click to close
Snackbar.error(message)
Snackbar.close()


Snackbar
	body
*/

.Snackbar {
  --Snackbar-body-background: rgba(0, 0, 0, 0.7);
  --Snackbar-body-color: #fff;
}

.Snackbar.is-error {
  --Snackbar-body-background: var(--global-color-warning);
}

.Snackbar {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  z-index: var(--global-zIndex-snackbar);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 250px;
}

.Snackbar-body {
  max-width: 80%;
  font-size: 1.5rem;
  min-width: 100px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--Snackbar-body-background);
  color: var(--Snackbar-body-color);
}
