@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --global-backgroundColor: #111;
    --global-background: url(../assets/bg.png) repeat;
    --global-color: #aaa;
    --global-onHover-color: #64b5f6;
    --global-color-primary: rgba(255, 255, 255, 0.1);
    --global-color-onPrimary: #aaa;
    --global-onHover-color-primary: #555;
    --global-onHover-color-onPrimary: white;
    --global-color-border: #464646;
    --global-color-link: #3d81b1;
    --global-onHover-color-link: #42aacd;
    --global-color-rewardButton: #da7171;
    --global-color-success: #28a745;
    --global-color-warning: #ff4373;
    --global-color-circle: #f4d90d;
    --global-color-ratio1: #cc364e;
    --global-color-ratio2: #ff2600;
    --global-color-ratio3: #ff5e00;
    --global-color-ratio4: #ff7100;
    --global-color-ratio5: #ff9700;
    --global-color-ratio6: #fa0;
    --global-color-ratio7: #74c42e;
    --global-color-ratio8: #7dae32;
    --global-color-postH3: #03dddd;
    --global-color-postH4: #00afdb;
    --global-color-postH5: #638ef3;
    --global-color-ruleStrong: #a5bed0;
    --global-color-code: rgba(99, 110, 123, 0.4);

    /* Box */
    --global-color-box: #242525;
    --global-colorTransparent-box: rgba(221, 221, 221, 0.075);
    --global-colorTransparentSecondary-box: rgba(221, 221, 221, 0.075);
    --global-color-onBox: #aaa;
    --global-border-box: 1px solid #363636;
    --global-boxShadow-box: none;
    --global-color-boxHeader: #111;
    --global-color-onBoxHeader: #aaa;

    /* BoxWithoutBorder */
    --global-background-boxWithoutBorder: transparent;
    --global-padding-boxWithoutBorder: 0;
    --global-border-boxWithoutBorder: 1px solid #363636;
    --global-boxShadow-boxWithoutBorder: rgba(221, 221, 221, 0.075);

    --DropdownMenu-item-onHover-background: #525252;

    /* Overlay */
    --Overlay-backgroundColor: #1f1f1f;

    /* Input */
    --global-color-input: #292929;
    --global-onHover-color-input: #333;
    --global-onDisabled-color-input: #808080;
    --global-color-onInput: #aaa;
    --global-border-input: 1px solid #464646;

    /* Button */
    --Button-default-border: 1px solid #464646;
    --Button-default-boxShadow: 0 0 5px 2px rgba(37, 37, 37, 0.07);
    --Button-primary-background: var(--HeaderAnnounceItem-link-background);
    --Button-primary-color: #000;

    /* Header */
    --Header-background: transparent;
    --Header-color: #aaa;
    --Header-boxShadow: none;
    --Header-border: 1px solid #464646;
    --Header-top-background: rgba(221, 221, 221, 0.075);
    --Header-bottom-background: rgba(221, 221, 221, 0.075);
    --Header-link-color: #aaa;
    --Header-link-onHover-color: #fff;
    --Header-input-background: rgba(221, 221, 221, 0.075);
    --Header-input-color: #aaa;
    --Header-input-border: 1px solid #464646;
    --Header-button-background: var(--Button-default-background);
    --Header-button-onHover-background: var(--Button-default-onHover-background);
    --HeaderAnnounceItem-link-background: #ccbc33;
    --HeaderAnnounceItem-link-color: black;
    --HeaderAnnounceItem-link-opacity: 0.8;
    --HeaderAnnounceItem-link-onHover-color: var(--HeaderAnnounceItem-link-color);
    --HeaderAnnounceItem-link-onHover-opacity: 1;
    --HeaderDonate-percent-color: #aaa;
    --HeaderDonate-progressBar-background: #aaa;
    --HeaderDonate-progressBar-onHover-background: #fff;
    --HeaderDonate-progressBarBorder-border: 2px solid #aaa;
    --HeaderDonate-progressBarBorder-onHover-border: 2px solid #fff;
    --HeaderLogo-icon: url(../assets/loginlogo-dark.png) center / contain no-repeat;

    /* Footer */
    --Footer-background: transparent;

    /* MovieInfo */
    --global-background-movieInfoButton: #1a1a1a;
    --global-onHover-background-movieInfoButton: #1a1a1a;
    --global-color-movieInfoyear: #777;
    --artist-photo-opacity: 1;
    /* Table */
    --TableMediaInfo-border: 1px solid #404040;

    /* TorrentTable */
    --TableTorrent-movieInfo-background: inherit;
    --TableTorrent-category-background: rgba(0, 0, 0, 0.25);
    --TableTorrent-title-background: rgba(0, 0, 0, 0.7);
    --TableTorrent-movieInfoTitle-color: #b0b0b0;
    --TableTorrent-movieInfoTitle-onHover-color: #ccc;
    --TableTorrent-movieInfoYear-color: #777;
    --slotButton-opacity: 0.4;
    --slotButton-onHover-opacity: 0.8;
    --slotButton-onActive-opacity: 1;
    --slotQuality-color: #afd2ff;
    --slotClear-color: #ff4373;
    --slotCnQuality-color: #ffcd8c;
    --slotEnQuality-color: #ff99e0;
    --slotRetenion-color: #86db79;
    --slotFeature-color: #86db79;
    --slotRemux-color: #91daee;
    --slotUntouched-color: #91daee;
    --slotDiy-color: #91daee;
    --slotEmpty-color: #777;
    --slotHighlightName-color: #ddd;

    /* BBCodeToolbar */
    --BBCodeToolbar-button-onActive-border: 1px solid #999;
    --BBCodeToolbar-button-onActive-boxShadow: inset 0 0 4px rgb(0 0 0 / 50%);

    /* Progress */
    --Progress-bar-background: #111;
    --Progress-value-background: #3d81b1;

    /* Chart */
    --Chart-gridLine: #434c56;
    --Chart-axisText: #768390;
    --Chart-axisLine: #434c56;

    /* ProgressBar */
    --ProgressBar-percent-color: #aaa;
    --ProgressBar-background: #aaa;
    --ProgressBar-onHover-background: #fff;
    --ProgressBarBorder-border: 2px solid #aaa;
    --ProgressBarBorder-onHover-border: 2px solid #fff;
  }
}

/* These styles are not be reset to default */
:root {
  --global-background-selection: #3d81b1;
  --global-color-selection: #fff;
  --global-background-scrollbarThumb: #999;
  --global-boxShadow-scrollbarThumb: inset 0 0 3px rgba(0, 0, 0, 0.2);
  --global-background-scrollbarTrack: #eee;
  --global-boxShadow-scrollbarTrack: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
@media (prefers-color-scheme: dark) {
  :root {
    --global-background-scrollbarThumb: #363636;
    --global-boxShadow-scrollbarThumb: inset 0 0 3px rgba(0, 0, 0, 0.2);
    --global-background-scrollbarTrack: #000;
    --global-boxShadow-scrollbarTrack: inset 0 0 5px rgba(255, 255, 255, 0.1);
  }
}

/* Selection */
::selection {
  background-color: var(--global-background-selection);
  color: var(--global-color-selection);
}

/* Scrollbar */
/*
tmp disabled, chrome scrollbar is not overlay
html {
  overflow-y: overlay;
}
::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--global-background-scrollbarThumb);
  box-shadow: var(--global-boxShadow-scrollbarThumb);
}
::-webkit-scrollbar-track {
  box-shadow: var(--global-boxShadow-scrollbarTrack);
  background: var(--global-background-scrollbarTrack);
  border-radius: 10px;
}
*/
