/*
--global[-on<State>]-<cssProperty>-<name>
--Component-descentName-[on<State>]-<cssProperty>
*/

:root {
  /* z-index */
  --global-zIndex-screenshotComparison: 10;
  --global-zIndex-dialog: 20;
  --global-zIndex-snackbar: 30;

  /* Colors */
  --global-background: white;
  --global-background2: #eee;
  --global-color: #404040;
  --global-color-primary: rgba(0, 0, 0, 0.1);
  --global-color-onPrimary: #000;
  --global-onHover-color: #202020;
  --global-onHover-color-primary: rgba(0, 0, 0, 0.3);
  --global-onHover-color-onPrimary: #000;
  --global-color-border: #ccc;
  --global-color-link: #004070;
  --global-onHover-color-link: #1958bd;
  --global-color-rewardButton: #da7171;
  --global-color-success: #28a745;
  --global-color-warning: #d8210d;
  --global-color-circle: #f4d90d;
  --global-color-ratio1: #cc364e;
  --global-color-ratio2: #ff2600;
  --global-color-ratio3: #ff5e00;
  --global-color-ratio4: #ff7100;
  --global-color-ratio5: #ff9700;
  --global-color-ratio6: #fa0;
  --global-color-ratio7: #74c42e;
  --global-color-ratio8: #7dae32;
  --global-color-postH3: #149999;
  --global-color-postH4: #4b87a7;
  --global-color-postH5: #4768b3;
  --global-color-ruleStrong: #004f9d;

  /* Selection */
  --global-background-selection: #3d81b1;
  --global-color-selection: #fff;

  /* Scrollbar */
  --global-background-scrollbarThumb: #999;
  --global-boxShadow-scrollbarThumb: inset 0 0 3px rgba(0, 0, 0, 0.2);
  --global-background-scrollbarTrack: #eee;
  --global-boxShadow-scrollbarTrack: inset 0 0 5px rgba(0, 0, 0, 0.2);

  /* Box */
  --global-color-box: white;
  --global-colorTransparent-box: white;
  --global-colorTransparentSecondary-box: rgba(0, 0, 0, 0.08);
  --global-color-onBox: #404040;
  --global-border-box: 1px solid #ccc;
  --global-boxShadow-box: none;
  --global-color-boxHeader: rgba(0, 0, 0, 0.05);
  --global-color-onBoxHeader: #404040;

  /* BoxWithoutBorder */
  --global-background-boxWithoutBorder: transparent;
  --global-padding-boxWithoutBorder: 0;
  --global-border-boxWithoutBorder: 1px solid #ccc;
  --global-boxShadow-boxWithoutBorder: rgba(0, 0, 0, 0.05);

  /* Header */
  --Header-background: rgba(122, 188, 255, 0.3);
  --Header-color: #404040;
  --Header-boxShadow: none;
  --Header-border: 1px solid #ccc;
  --Header-top-background: #fff;
  --Header-bottom-background: #fff;
  --Header-icon-onHover-background: rgba(255, 255, 255, 0.1);
  --Header-link-color: #004070;
  --Header-link-onHover-color: #1958bd;
  --Header-dropdown-background: #eee;
  --Header-dropdown-border: 1px solid #ccc;
  --HeaderAnnounceItem-link-background: #f0df49;
  --HeaderAnnounceItem-link-color: black;
  --HeaderAnnounceItem-link-opacity: 0.8;
  --HeaderAnnounceItem-link-onHover-color: var(--HeaderAnnounceItem-link-color);
  --HeaderAnnounceItem-link-onHover-opacity: 1;
  --HeaderDonate-percent-color: #004070;
  --HeaderDonate-progressBar-background: #004070;
  --HeaderDonate-progressBar-onHover-background: #1958bd;
  --HeaderDonate-progressBarBorder-border: 2px solid #004070;
  --HeaderDonate-progressBarBorder-borderRadius: 3px;
  --HeaderDonate-progressBarBorder-onHover-border: 2px solid #1958bd;
  --HeaderLogo-filter: drop-shadow(0px 0px 1px #999);

  /* Footer */
  --Footer-background: transparent;

  /* Body */
  --Body-background: #fff;
  --Body-border: none;
  --Body-boxShadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  --Body-padding: 20px;
  --Body-borderRadius: 5px;

  /* Sidebar */
  --SidebarItem-background: var(--global-colorTransparent-box);
  --SidebarItem-color: var(--global-color-onBox);
  --SidebarItem-border: var(--global-border-box);
  --SidebarItem-boxShadow: var(--global-boxShadow-box);
  --SidebarItem-header-background: var(--global-color-boxHeader);
  --SidebarItem-header-color: var(--global-color-onBoxHeader);
  --SidebarItem-header-borderBottom: var(--global-border-box);

  /* Input */
  --global-color-input: #eee;
  --global-onHover-color-input: #ddd;
  --global-onDisabled-color-input: #808080;
  --global-color-onInput: black;
  --global-border-input: 1px solid transparent;
  /* InputInvert: on dark background */
  --global-color-inputInvert: rgba(255, 255, 255, 0.3);
  --global-color-onInputInvert: #aaa;
  --global-border-inputInvert: 1px solid rgba(0, 0, 0, 0.1);
  --Input-background: var(--global-color-input);
  --Input-onHover-background: var(--global-onHover-color-input);
  --Input-onFocus-background: var(--global-onHover-color-input);
  --Input-color: var(--global-color-onInput);
  --Input-border: var(--global-border-input);
  --InputInvert-background: var(--global-color-inputInvert);
  --InputInvert-color: var(--global-color-onInputInvert);
  --InputInvert-border: var(--global-border-inputInvert);
  --SearchPage-background: rgba(0, 0, 0, 0.02);

  /* Button */
  /* link */
  --Button-link-color: var(--global-color-link);
  --Button-link-onHover-color: var(--global-onHover-color-link);
  /* solid */
  --Button-solid-background: var(--global-color-primary);
  --Button-solid-color: var(--global-color-onPrimary);
  --Button-solid-border: none;
  --Button-solid-boxShadow: none;
  --Button-solid-onHover-background: var(--global-onHover-color-primary);
  --Button-solid-onHover-color: var(--global-onHover-color-onPrimary);
  --Button-solid-onHover-boxShadow: none;

  /* transluent */
  --Button-translucent-background: rgba(255, 255, 255, 0.3);
  --Button-translucent-onHover-background: rgba(0, 0, 0, 0.1);

  /* Tooltipster */
  --global-background-tooltipster: #eee;
  --global-color-tooltipster: #404040;
  --global-borderColor-tooltipster: #ccc;

  /* MovieInfo */
  --global-background-movieInfoButton: rgba(0, 0, 0, 0.08);
  --global-onHover-background-movieInfoButton: rgba(0, 0, 0, 0.15);
  --global-color-movieInfoyear: #777;
  --MovieInfo-border: var(--global-border-box);
  --MovieInfo-boxShadow: var(--global-boxShadow-box);
  --MovieInfo-background: rgba(0, 0, 0, 0.08);
  --MovieInfo-button-background: var(--global-background-movieInfoButton);
  --MovieInfo-button-onHover-background: var(
    --global-onHover-background-movieInfoButton
  );
  --Movieinfo-button-color: var(--global-color);
  --Movieinfo-button-onHover-color: var(--global-onHover-color);
  --MovieInfo-button-border: var(--global-border-box);
  --MovieInfo-year-color: var(--global-color-movieInfoyear);
  --artist-photo-opacity: 0.2;

  /* Table */
  --Table-background: var(--global-colorTransparent-box);
  --Table-color: var(--global-color-onBox);
  --Table-border: var(--global-border-box);
  --Table-header-background: var(--global-color-boxHeader);
  --TableMediaInfo-border: 1px solid #404040;

  /* TorrentTable */
  --TableTorrent-movieInfo-background: rgba(0, 0, 0, 0.15);
  --TableTorrent-category-background: rgba(0, 0, 0, 0.1);
  --TableTorrent-title-background: rgba(0, 0, 0, 0.05);
  --TableTorrent-movieInfoTitle-color: black;
  --TableTorrent-movieInfoTitle-onHover-color: #323232;
  --TableTorrent-movieInfoYear-color: #777;
  --slotButton-opacity: 0.4;
  --slotButton-onHover-opacity: 0.8;
  --slotButton-onActive-opacity: 1;
  --slotQuality-color: #006df9;
  --slotClear-color: #fb0040;
  --slotCnQuality-color: #f88c00;
  --slotEnQuality-color: #f900ad;
  --slotRetenion-color: #1cd700;
  --slotFeature-color: #86db79;
  --slotRemux-color: #02bbed;
  --slotUntouched-color: #00b9ec;
  --slotDiy-color: #00b8ea;
  --slotEmpty-color: #a7a7a7;
  --slotHighlightName-color: #ddd;

  /* Form */
  --Form-errorMessage-color: var(--global-color-warning);

  /* BBCodeToolbar */
  --BBCodeToolbar-button-onHover-background: var(--global-onHover-color-input);
  --BBCodeToolbar-button-onHover-boxShadow: none;
  --BBCodeToolbar-button-onActive-border: 1px solid white;
  --BBCodeToolbar-button-onActive-boxShadow: inset 0 0 4px rgb(0 0 0 / 50%);

  /* Post */
  --Post-background: var(--global-colorTransparent-box);
  --Post-color: var(--global-color-onBox);
  --Post-border: var(--global-border-box);
  --Post-header-background: var(--global-color-boxHeader);
  --Post-header-color: var(--global-color-onBoxHeader);
  --Post-header-borderBottom: var(--global-border-box);

  /* Notification */
  --Notification-background: var(--global-color-box);
  --Notification-color: var(--global-color-onBox);
  --Notification-border: var(--global-border-box);
  --Notification-box-shadow: var(--HeadBody-boxShadow);
  --Notification-message-background: var(--global-color-boxHeader);
  --Notification-message-color: var(--global-color-onBoxHeader);
  --Notification-message-borderBottom: var(--global-border-box);

  /* DropdownMenu */
  --DropdownMenu-items-background: var(--Header-dropdown-background);
  --DropdownMenu-items-border: var(--Header-dropdown-border);
  --DropdownMenu-item-onHover-background: rgba(0, 0, 0, 0.1);

  /* Progress */
  --Progress-bar-background: rgba(0, 0, 0, 0.05);
  --Progress-value-background: rgba(122, 188, 255, 0.3);
}
