.FormRequest:not(.u-formNewRequest) .u-formRequestSeedCollapse {
  display: none;
}
.FormRequest:not(.u-formSeedRequest) .u-formRequestNewCollapse {
  display: none;
}

.FormRequest:not(.u-formRequest) .u-formRequestCommonCollapse {
  display: none;
}
